h4 {
    color: white;
}

.active-navlink {
    text-decoration: white underline;
}

.inactive-navlink {
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}