h1 {
    color: white;
}

.countryProfile {
    color: white;
    border: 2px white solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    height: 45rem;
}

.rowTitle {
    font-weight: bold;
    text-decoration: underline;
}

td {
    padding-left: 25px;
    padding-top: 20px;
    font-size: 1.2rem;
}

.flag {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 100px;
    width: 45%;
}

img {
    width: 100%;
    border: 1px grey solid;
}